<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static',filename='imgs/python.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}">
    <title>Odd or Even</title>
</head>
<body>
    <div>
        <h1>Enter a Number:</h1>
        <form action="" method="post">
            <input type="number" name="pyInput" id="pyInput">
            <input type="submit">
        </form>
        <h2 name="testing"></h2>
    </div>
</body>
</html>